.features {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 1.5rem;
  width: 100%;
}

@media screen and (min-width: 600px) {
  .features {
    grid-gap: 2rem;
  }
}

@media screen and (min-width: 900px) {
  .features {
    grid-template-columns: repeat(4, 1fr);
  }
}