:root {
  --text__dark: #313131;
  --neutral__0: #ffffff;
  --neutral__10: #f6f6f6;
  --primary__light: rgb(196, 215, 255);
  --primary__medium: #86abfa;
  --primary__dark: #5f7fc4;
  --primary__gradient: linear-gradient(
    to right bottom,
    rgb(196, 215, 255),
    #86abfa
  );
  --secondary__light: rgb(253, 184, 183);
  --secondary__medium: #ff9897;
  --secondary__gradient: linear-gradient(
    to right bottom,
    rgb(253, 184, 183),
    #ff9897
  );
  --shadow: 0px 4px 8px 0px #46637350;
  --text__error: #9f3a38;
  --text__error__light: #e63946;
  --text__success: #2c662d;
}
