.hero {
    /* background: #DE6262;
    background: -webkit-linear-gradient(to right, #FFB88C, #DE6262);
    background: linear-gradient(to right, #FFB88C, #DE6262); */
}
nav {
    height: 4rem;
}
.wrapper {
    display: flex;
    align-items: center; 
    margin: 6rem 2rem;
}
.block {
    margin: auto;
    padding: 1rem;
}
.navbar a:hover {
    color: #FFB88C;
}
.feature-card {
    border-radius: 20px;
}
.feature-card:hover {
    background-color: #FFB88C80;
    border: 2px solid #DE6262;
}
.section-icon {
    margin-top: 1rem;
    height: 8rem;
}
.profile-dropdown {
    border-radius: 50%;
}

.icon-color {
    color: #FFB88C80;
}

.notebook-card {
    height: 15rem;
    margin: 1rem auto;
    padding: 3rem;
}
.columns .is-multiline {
    flex-wrap: wrap;
}

.copyright {
    font-size: 0.75rem;
}

.ui .container {
    margin: 1rem 0 3rem;
}

/****************************************************************************
 WORK HOURS
****************************************************************************/
