/****************************************************************************
 COLORS
****************************************************************************/
.hero {
    /* background: #DE6262;
    background: -webkit-linear-gradient(to right, #FFB88C, #DE6262);
    background: linear-gradient(to right, #FFB88C, #DE6262); */
}

.copyright {
    font-size: 0.75rem;
}

/****************************************************************************
 PAGE LAYOUT
****************************************************************************/
nav {
    height: 4rem;
}
footer.ui .vertical .segment {
    padding: 1rem;
}
.wrapper {
    display: flex;
    align-items: center; 
    margin-top: 4rem;
}
.block {
    margin: auto;
    width: 90%;
}
.pageheader {
    font-size: 2.5rem;
    font-weight: 800;
    margin: 3rem 2rem;
    text-align: center;
}
.custom-container {
    margin: 2rem;
    padding: 1rem;
}
.centered {
    text-align: center;
}
.auth-container {
    margin: auto;
    width: 70%;
}
.ui .card.feature-card,
    .ui .card.note-card {
        border-radius: 2rem;
        padding: 1rem;
}
.ui .card.feature-card:hover {
    background-color: #75c0fa;
    background-image: linear-gradient(to right bottom, #75c0fa, #4caaf5);
}
.ui .card.note-card {
    padding: 2rem;
}
.feature-icon {
    margin-top: 1rem;
    height: 8rem;
}