.container {
  height: 100%;
  width: 100%;

  display: flex;
  flex-direction: column;
  justify-content: center;
}

.soon {
  display: flex;
  align-items: center;
  justify-content: center;

  height: 200px;
  width: 100%;
}

.developmentNotice {
  color: #31313180;
  margin-bottom: 0;
}

.featureNotice {
  margin: 2rem 0;
}
