/********************************************
 PEOPLE
********************************************/
.container {
  display: flex;
  flex-direction: column;
}

.label {
  font-weight: 700;
  height: 40px;
  line-height: 40px;
}

.list {
  padding: 0;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 1rem;
}

.item {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
}

.img {
  border-radius: 50%;
  object-fit: cover;
  height: 40px;
  width: 40px;
}

.details {
  margin-left: 1rem;
}

.name {
  font-weight: 700;
}
