.primary, .secondary, .disabled {
  border-radius: 4px;
  box-shadow: 0px 1px 6px #46637340;
  color: #313131;
  font-size: 1rem;
  font-weight: 700;
  padding: 0.5rem 1rem;
  min-width: 8rem;

  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
}

.disabled {
  background-color: rgba(0, 0, 0, 0.1);
  color: rgba(0,0,0, 0.25);
  border: none;
}

/********************************************
 PRIMARY
********************************************/
.primary {
  background-color: #86abfa;
  border: 1px solid #86abfa;
}

.primary:hover {
  box-shadow: 0 3px 6px #46637340;
  color: #ffffff;
}

.primary:active, .primary:focus {
  border: 1px solid #5f7fc4;
}

/********************************************
 SECONDARY
********************************************/
.secondary {
  background-color: #f6f6f6;
  border: 1px solid #f6f6f6;
}

.secondary:hover {
  border: 1px solid #86abfa;
  box-shadow: 0 3px 6px #46637340;
}

.secondary:active, .secondary:focus {
    border: 1px solid #86abfa;
    box-shadow: 0 3px 6px #46637340;
    color: #86abfa;
}