.page {
    padding: 24px 24px;
    height: 100%;
    width: 100%;
}

.header {
    display: grid;
    grid-template-columns: 1fr;
    column-gap: 4rem;
    row-gap: 3rem;
    margin-bottom: 4rem;
}

@media screen and (min-width: 768px) {
    .page {
        padding: 40px 40px;
    }
    .header {
        grid-template-columns: repeat(2, 1fr);
    }
}