@import '../../css/base.css';

.container {
}

.tabs {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.tab {
  border: none;
  background-color: transparent;
  font-size: 1rem;
  font-weight: bold;

  display: flex;
  align-items: center;
  justify-content: center;

  height: 2rem;
  width: 80%;
}

.tab:hover {
  cursor: pointer;
}

.active {
  background-color: rgb(253, 184, 183);
  border-radius: 4px;
}

.body,
.message {
  padding: 1rem;
}

.message {
  font-weight: bold;
}
