.tabs {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.tab {
  border: none;
  border-radius: 4px 4px 0 0;
  background-color: var(--pink__light);
}

.active {
  background-color: var(--pink__medium);
}

.body {
    
}