.layout {
  display: grid;
  height: 100%;
  width: 100%;
}

.header {
  grid-column: 1 / -1;
  grid-row: 1 / 2;
}

@media only screen and (min-width: 900px) {
  .layout {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: min-content repeat(2, 1fr);
    grid-gap: 1rem;
  }

  .three {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
  }

  .six {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
  }

  .nine {
    grid-column: 1 / 2;
    grid-row: 3 / 4;
  }

  .twelve {
    grid-column: 2 / 3;
    grid-row: 3 / 4;
  }


  /* .form {
    grid-column: 1 / -1;
    grid-row: 3 / 4;
  } */
}
